.edit_todo {
  .field {
    margin-bottom: 10px;
    #todo_title {
      width: 100%;
      font-size: 120%;
    }
  }
  .action {
    float: left;
    margin-right: 2rem;
  }
}

.new_memo {
  #memo_text {
    width: 50%;
    font-size: 90%;
  }
}
